/* estilos generales */
* {
    padding: 0;
    margin: 0;
    vertical-align: middle;
    font-weight: 300;
}

body {
    background-color: #000;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

h1, h2{
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    width: 100%;
}

section {
    min-height: 21.75rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
}
header h1{
    font-size: 3.125rem;
}
header img {
    width: 100%;
    height: auto;
}
/* definicion */
.box-def {
    width: 33%;
    text-align: right;
}

.box-def p{
    text-align: justify;
    padding: 1.5em 0em;
}

.box-def img {
    width: 26.5rem;
    height: 17.5rem;
}
/* caracteristicas  */
.iguana-feature {
    background: #1e1a13;
}

.iguana-feature h2 {
    padding-top: 1em;
    font-size: 2.5rem;
}

.box-feature {
    text-align: center;
    width: 20%;
    padding: 0em 2em 3em 2em ;
}
  
.box-feature i {
    font-size: 3em;
    margin-bottom: 0.5em;
}
.box-feature h3 {
    font-size: 1.5em;
}
  
/* estilo 3 fotos */  
.iguana-img img {
    width: 25rem;
    height: 17.5rem;
    padding: 0.5%;
}

footer {
    text-align: center;
    padding: 2em;
    background: #1e1a13;
}

a {
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: black;
    
    text-decoration: none;
}











